div#custom_div {
    font-size:2em;
    color:red;
    background-color:cyan;
    width:400px;
    height:150px;
}

div#custom_div2 {
    font-size:2em;
    color:red;
    background-color:orange;
    width:400px;
    height:150px;
}