@charset "UTF-8";

/* 입력 패널 */
.input-fld-pnl {
    
    display: flex;
    align-items: flex-start;

    width: 500px;
    padding: 10px 0;    

    font-size: 1em;
}

/* 라벨(공통) */
label {

    display: flex;
    align-items: center;
    width: 100px;

    padding:0 10px;
}

/* 필드 아이콘 */
label .icon-fld {

    color: #333;
    font-size: 2em;
}

/*  텍스트 라벨 */
.txt-label {

    padding: 10px 0 10px 10px;
}

/* 입력 필드(요소) */
.input-fld {

    border: 2px solid #ccc;
    border-radius: 10px;
    width: 300px;
    height: 35px;

    margin-left: 20px;
    padding: 0 10px;
}

/* 입력 필드(요소) 및 textarea : focus */
.input-fld:focus, #content:focus {
    
    /* 여기서 외곽선 색은 border-color가 아닌 
    outline-color 로 적용할 것 */
    outline-color: #60C5F1;    
}    

/* 상담 내용 문단 필드 */
#content {

    resize: none;
    border: 2px solid #ccc;
    border-radius: 10px;

    margin-left: 20px;
    padding-left: 10px;
    
    width: 300px;    
    height: 200px;
    
    padding: 10px;
}

#Description{
    resize: none;
}

.wrap{
    min-width: 500px;
    margin: 0 auto;
    border-radius: 15px;
    border: 1px solid #ccc;
    padding: 15px;
    box-sizing: border-box;
}
body{
    align-items: center;
    justify-content: center;
}